// Import page-specific CSS files here.
@import "home";
@import "components/banner";
@import "components/buttons";
@import "components/cards";
@import "show";


.flat-line{
  width: 35px;
  height: 4px;
  background: #01C5BB;
  margin-bottom: 8px;
  border-radius: 6px;
}

.home-title {
  margin-top: 1em;
  font-size: 24px;
}

.container-home {
  margin: auto;
  width: 1140px;
  margin-top: 0 !important;
  font-size: 24px;
  padding-left: 64px;
  padding-top: 128px;
}

.planet-selection {
  font-size: 24px
}


.create p {
  font-style: italic;
}

.create {
  text-align: center;
  margin-bottom: 128px;
  margin-top: 64px;
}

.lighter-background{
  background-color: rgb(18, 18, 18);
  padding-bottom: 64px;
}
