// Import page-specific CSS files here.
@import "home";
@import "components/banner";
@import "components/buttons";
@import "components/cards";
@import "show";




.flat-line{
  width: 35px;
  height: 4px;
  background: #01C5BB;
  margin-bottom: 1em;
  border-radius: 6px;
}

.home-title {
  margin-top: 1em;
  font-size: 24px;
}

.planet-selection {
   margin-top: 2.3em;
  font-size: 24px;
}

.create p {
  font-style: italic;
}

.create {
  text-align: center;
  margin-bottom: 128px;
  margin-top: 64px;
}

.lighter-background{
  padding-top: 32px;
  margin-bottom: 32px;
  background-color: rgb(18, 18, 18);
}
