<h1> Your Planets are </h1>



  <% @planets.each do |planet| %>
  <% if current_user == planet.user %>
  <h6> <%= planet.name %> </h6>
  <%= link_to 'Edit', edit_planet_path(planet) %>
  <%= link_to 'Delete', planet_path(planet), method: :delete %>
  <% end %>
  <% end %>



<div class="container create">
  <p>Do you own a planet ? Would you like to rent it with us</p>


<% if  policy(Planet).new? %>
  <%= link_to 'Create A Planet', new_planet_path, class: 'btn-flat btn-create' %>
<% end %>
</div>
