<div id="container">
  <h1 class="align-center">New Planet</h1>

  <%= render 'form', planet: @planet %>

  <div>
    <%= link_to 'Back', planets_path, class:"loginBtn links btn-padding signup-link"%>
  </div>
</div>

