.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
  url(https://images.unsplash.com/photo-1545156521-77bd85671d30?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=daniel-olah-gEta6dbzFy0-unsplash.jpg);
  background-size: cover;
  background-position: center;

}

.banner h1 {
  padding-bottom: 16px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  width: 60%;
}

.banner p {
  padding-bottom: 32px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 40%;
}

.btn-home{
  margin-top: 32px;
}
