.btn-flat {
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  background: #01C5BB;
  transition: background 0.3s ease;
    a:hover {
      text-decoration: none !important;
  }
}

.btn-create {
  color: white !important;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  a {
    text-decoration: none !important;
    color: grey;
    border: 1px solid;
    border-radius: 20px;
    padding: 0 6px;
    margin-left: 10px;
    padding: 5px 10px;
  }
  a:hover {
    color:  white;
    border: 1px solid white;
  }
}

.create-button-container{
  padding-top: 40px;
  width: 1010px;
  margin: 0 auto;
}
