.cards-galaxy {
  display: flex;
  justify-content: space-between;
}

.card-galaxy {
  position: relative;
  text-align: center;
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline-block;
  margin-bottom: 64px;
  border-radius: 15px;
}

.card-galaxy > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.card-galaxy h2 {
  font-size: 24px;
  font-style: italic;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.cards-planet  {
  margin: 0 auto;
  width: 1120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 32px 64px;
}

.card-planet {
  overflow: hidden;
  background: #202020;;
  box-shadow: 0 0 15px rgba(30, 30, 30, 0.5);
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 24px;
}

.card-planet > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-planet h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 8 0 8 0;

}

.planet-name {
  color: white !important;
  margin-left: 4px;
  margin-top: 8px;
}


.card-planet p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  opacity: .7;
  margin-left: 24px;
}


.card-planet .card-planet-infos {
  height: 78px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-planet-infos i {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 12px;
  width: 40px;
  bottom: 20px;
}

.card-planet-pricing{
  position: absolute;
  right: 8px;
  bottom: 5px;
}


