.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  //color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav-link-item {
  color: gray;
}



.loginBtn {
  border: 1px solid;
  border-radius: 20px;
  padding: 0 6px;
  margin-right: 10px;
}

#primaryBtn {
  background-color: #01C5BB;
}

// .navbar-nav{
//   color: white;
// }
