.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar-nav{
//   color: white;
// }
