.links {
  color: white;
}

.signup-link {
  color: rgba(255, 255, 255, 0.5);
}

.btn-padding {
  padding: 4px 12px !important;
}

#container{
  width: 430px;
  height: 548px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 10px 5px 5px black;
  background-color: #202020;
  padding: 50px 40px;
}

#box {
  width: 200px;
  margin: 10px auto;
  text-align:center;
  padding-top: 50px;
}

#signup-button {
  background-color:#01C5BB;
  color:white;
  text-align: center;
}

.btn-margin {
  margin-top: 20px;
}
