// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/planet-hero-area";
@import "pages/show";
@import "pages/booking-confirmation";
@import "components/footer";
@import "components/search-bar";
@import "components/loading";
@import "pages/my-planets";

body {
  background-color: rgb(15, 15, 15);
  color: white;
}

